<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<template name="layout">
	
	<div class="container-fluid">
		<div id="main" class="row">
			{{> yield}}
		</div>
		<div id="footer" class="row">
			{{> footer}}
		</div>
	</div>
</template>